:root {
    background-color: #030309;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: white;
    font-family: monospace;
}

label {
    font-size: 1.25rem;
    text-transform: capitalize;
}

input {
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: #888888;
    border: none;
    border-radius: 10px;
    outline-width: 1px;
    outline-color: #484848;
    outline-style: solid;
    transition: all 150ms ease-out;
}

input:hover {
    outline-color: #888888;
    color: white;
}

input:focus {
    outline-color: white;
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    margin: 1rem auto;
}

.group {
    display: flex;
    width: fit-content;
    gap: 18px;
}

.button {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    transition: all 50ms ease-out;
    width: fit-content;
    height: fit-content;
    transition: all 150ms ease-out;
}

.primary-button {
    color: hsl(130, 100%, 10%);
    background-color: hsl(130, 100%, 50%);
    border-color: hsl(130, 100%, 50%);
}

.primary-button:hover {
    background-color: transparent;
    color: hsl(130, 100%, 50%);
}

.secondary-button {
    color: hsl(130, 0%, 80%);
    border-color: hsl(130, 0%, 80%);
}

.secondary-button:hover {
    background-color: hsl(130, 0%, 80%);
    color: hsl(130, 100%, 10%);
}

.file-wrapper {
    border-width: 1px;
    border-style: solid;
    border-color: #181818;
    width: 100%;
    padding: 3rem;
}

.kv-wrapper {
    display: flex;
    gap: 12px;
    padding: 1rem 2rem;
    flex-direction: column;
    width: 100%;
}