:root {
    background-color: #030309;
}

body {
    margin: 0 auto;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1024px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    margin: 1rem auto;
}

.group {
    display: flex;
    width: fit-content;
    gap: 18px;
}

.button {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    transition: all 50ms ease-out;
    width: fit-content;
    height: fit-content;
}

.button:hover {
    scale: 105%;
}

.primary-button {
    color: hsl(130, 100%, 10%);
    background-color: hsl(130, 100%, 50%);
    border-color: hsl(130, 100%, 50%);
}

.secondary-button {
    color: hsl(130, 0%, 80%);
    border-color: hsl(130, 0%, 80%);
}

.file-wrapper {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    width: 100%;
}