:root {
    --color-1: hsl(190, 40%, 4%);
    --color-1-50: hsl(190, 40%, 6%);
    --color-1-60: hsl(190, 40%, 12%);
    --color-1-75: hsl(190, 40%, 20%);
    --color-1-90: hsl(190, 40%, 60%);
    --color-1-100: hsl(190, 100%, 90%);
    --color-2: hsl(145, 100%, 50%);
    --rounded-sm: 9px;
    --rounded-lg: 36px;
    --optical-padding: 0.35rem 0.65rem;
    --gap-sm: 6px;
    --gap-md: 12px;
    --gap-lg: 24px;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
a,
input,
span {
    transition: all 150ms ease-out;
}

body {
    background-color: var(--color-1-50);
    margin: 0 auto;
    max-height: 100dvh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-1-75);
}

nav {
    z-index: 100;
}

a {
    color: var(--color-2);
    text-decoration: none;
}

a:hover {
    color: white;
}

label {
    font-size: 1.5rem;
    text-transform: capitalize;
    user-select: none;
    color: var(--color-1-90);
}

input {
    padding: var(--optical-padding);
    width: 100%;
    font-size: 1rem;
    background-color: var(--color-1-50);
    color: var(--color-1-75);
    border: none;
    border-radius: var(--rounded-sm);
    outline-width: 1px;
    outline-color: var(--color-1-75);
    outline-style: solid;
}

input:hover {
    outline-color: var(--color-1-90);
    color: var(--color-1-90);
}

input:focus {
    outline-color: var(--color-1-100);
    color: var(--color-1-100);
}

button {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--rounded-sm);
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    padding: var(--optical-padding);
    transition: all 50ms ease-out;
    width: fit-content;
    height: fit-content;
    transition: all 150ms ease-out;
    user-select: none;
}

thead {
    background-color: var(--color-1-60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

caption {
    font-size: 1.25rem;
    color: var(--color-1-100);
    width: fit-content;
}

table,
thead,
tbody,
tr,
td {
    width: 100%;
}

table,
tbody,
caption {
    display: block;
}

table {
    color: white;
    background-color: var(--color-1);
    border-collapse: collapse;
    border: 1px solid var(--color-1-75);
    overflow: auto;
}

tbody {
    overflow-x: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    user-select: none;
}

td.col-head {
    background-color: var(--color-1-50);
    border-right: 1px solid var(--color-1-60);
    border-bottom: 1px solid var(--color-1-60);
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--color-1-75);
}

th:last-child {
    border-right: none;
}

tr:hover,
td:hover,
th:hover {
    filter: brightness(150%);
}

td {
    background-color: var(--color-1);
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    color: var(--color-1-100);
    border: 1px solid var(--color-1-60);
    white-space: nowrap;
}

th:first-child,
td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

/* ID CLASSES */

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 100dvh;
    position: relative;
}

#table-container {
    width: 100%;
    padding: 1rem;
    min-width: 407px;
}

#properties-panel {
    min-width: 360px;
    max-width: 25dvw;
    width: 100%;
    padding: 2rem;
    display: none;
    background-color: var(--color-1-50);
    border-left: none;
}

#property-name {
    font-size: 1.5rem;
}

#ui-overlay {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

#ui-overlay div {
    border: 1px solid var(--color-1-60);
    width: fit-content;
    pointer-events: auto;
    padding: 1rem;
    background-color: var(--color-1);
    margin: 0 auto;
}

#logo {
    font-size: 1rem;
    font-weight: bolder;
    font-family: monospace;
    border-right: 1px solid var(--color-1-60);
    padding-right: 1rem;
    margin-right: 1rem;
}

#logo-mark {
    color: var(--color-2);
}

#logo-mark:hover {
    color: white;
}

#logo-mark::before {
    content: "easy";
    color: white;
    transition: all 150ms ease-out;
}

#logo-mark::after {
    content: "api";
    color: white;
    transition: all 150ms ease-out;

}

#logo-mark:hover::before,
#logo-mark:hover::after {
    color: var(--color-2);
}

#nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-buttons {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    z-index: 100;

}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--color-1);
    border-bottom: 1px solid var(--color-1-75);
}

/* GENERAL CLASSES */

.primary-button {
    color: var(--color-1);
    background-color: var(--color-2);
    border-color: var(--color-2);
}

.primary-button:hover {
    background-color: transparent;
    color: var(--color-2);
}

.secondary-button {
    color: var(--color-1-100);
    border-color: var(--color-1-100);
}

.secondary-button:hover {
    background-color: var(--color-1-100);
    color: var(--color-1);
}

.container {
    border: 1px solid var(--color-1-75);
    width: 100%;
    border-collapse: collapse;
    margin-top: 3.7rem;
}

.entry-wrapper {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-1-75);
    border-radius: var(--rounded-lg);
    width: 100%;
    padding: 3rem;
    background-color: var(--color-1-60);
}

.kv-wrapper {
    display: flex;
    gap: var(--gap-md);
    padding: 1rem 2rem;
    flex-direction: column;
    width: 100%;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.gap-sm {
    gap: var(--gap-sm);
}

.fixed {
    position: fixed;
    width: 100%;
}

.basic-alert {
    border: 1px solid #888888;
    border-radius: var(--rounded-sm);
    padding: var(--optical-padding);
    font-size: 0.75rem;
    height: fit-content;
    width: fit-content;
    user-select: none;
    color: #888888;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: saturate(0);
}

.hidden {
    display: none;
    position: absolute;
}